@font-face {
    font-family: DancingScript;
    src: url(DancingScript-Regular.otf);
}

body {
    font-family: DancingScript;
    background: black;
    display: flex;
    justify-content: center;
}

body a {
    color: white;
    text-decoration: none;
}

img {
    box-shadow: 2px 2px #02010a;
}

.contenedor {
    max-width: 900px;
    min-width: 900px;
}

@keyframes slide-in {
    0%   {margin-top: 150%;}
    60%   {margin-top: -5%;}
    100%   {margin-top: 0%;}
}

header {
    background: #5b7989;
    color: white;
    padding: 0px 20px;
    text-shadow: 2px 2px #02010a;
    border-radius: 10px 10px 0px 0px;
    animation-name: slide-in;
    animation-duration: 4s;
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

.navegacion {
    text-align: right;
}
.navegacion li {
    display: inline-block;
    padding: 0px 20px;
}

.primer-imagen {
    text-align: center;
    background: #82c3a6;
    padding: 50px 0px;
    min-height: 305px;
}

.primer-imagen img {
    width: 400px;
    -webkit-transition: width 2s;
    transition: width 2s;
    -webkit-transition: height 1s;
    transition: height 1s;
}

.primer-imagen img:hover {
    width: 20%;
    height: 10%;
}

.medio {
    text-align: center;
    background: #d5c75f;
    border: solid black 1px;
}

.segunda-imagen {
    display: inline-block;
    width: 49%;
    padding: 50px 0px;
}

.segunda-imagen img {
    width: 200px;
}

.paisaje:hover {
    transform: rotate(10deg);
}

.retrato:hover {
    transform: translate(20px, -5px);
    box-shadow: 5px 5px #82c3a6;
}

footer {
    background: #c6d5c5;
    border-radius: 0px 0px 10px 10px;
    display: flex;
}

.pie {
    flex: 25%;
    padding: 20px;
}

.pie img {
    width: 20px;
}